@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.TopSide {
  height: 100%;
  width: 100%;
  content: url("assets/images/background-pattern-desktop.svg");
}

.DownSide {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9eeff;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.034);
  border-radius: 10px;
  width: 600px;
  height: 500px;
  margin-bottom: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 60px;
}
.header p {
  font-weight: 700;
  color: #301534;
  font-size: 40px;
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow: scroll;
}

.expandable {
  height: 100%;
  margin-top: 10px;
}

.expandable-opened .expandable-content-wrapper {
  grid-template-rows: 1fr;
}
.expandable-titlebar {
  display: flex;
  justify-content: space-between;
  padding: 1.5ch;
  margin: 9px;
}

.expandable-title {
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}

.expandable-titlebar:hover {
  color: #b122ce;
}

.expandable-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.2s ease-out;
}
.expandable-content {
  font-weight: 400;
  width: 95%;
  margin-left: 20px;
  font-size: 14px;
  color: grey;
  overflow: hidden;
}

.expandable-titlebar button {
  margin-left: 30px;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.2s ease;
}

hr {
  border: none;
  height: 1px;
  background-color: #0000000e;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .TopSide {
    content: url("assets/images/background-pattern-mobile.svg");
  }
  .DownSide {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .card {
    width: 300px;
  }
  .header p {
    font-size: 30px;
  }
  .header img {
    width: 25px;
    height: 25 px;
  }

  .expandable-title {
    font-size: 15px;
  }
}
